body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1c0620, #2e0933, #6b146a, #4a0c66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(48, 0, 85, 0.8); /* Roxo mais escuro com transparência */
    padding: 20px; /* Ajuste o espaçamento interno */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6); /* Sombra */
    text-align: center;
    width: 350px; /* Ajuste de largura */
}

#logoSonora {
    margin-bottom: 20px;
}

#logoSonora img {
    width: 60px; /* Tamanho ajustado para a logo */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.music-info {
    margin-bottom: 20px;
}

.album-cover {
    width: 100%; /* A capa do álbum ocupa toda a largura disponível */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 10px;
}

h1, h2 {
    margin: 5px 0; /* Margens menores para os títulos */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    margin: 20px 0; /* Margem superior e inferior para os controles */
}

.control-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 0 10px; /* Espaço entre os botões */
    cursor: pointer;
    font-size: 18px;
}

.play-button {
    background-color: #1DB954; /* Verde do Spotify para o botão de play */
    width: 50px; /* Largura do botão de play */
    height: 50px; /* Altura do botão de play */
    border-radius: 50%; /* Botão redondo */
    font-size: 24px; /* Tamanho do ícone de play */
}

.progress-bar {
    width: 100%;
    margin-top: 20px;
    background: #444;
    border-radius: 10px; /* Bordas arredondadas para a barra de progresso */
}

.time-info {
    margin-top: 10px; /* Espaço acima do tempo */
    font-size: 16px; /* Tamanho da fonte para o tempo */
}

.devices {
    margin-top: 20px; /* Margem superior para os dispositivos disponíveis */
    font-size: 14px; /* Tamanho da fonte para dispositivos */
}
