body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1c0620, #2e0933, #6b146a, #4a0c66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    width: 300px; /* Aumenta a largura da div */
    height: 600px; /* Define uma altura fixa */
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
input[type="a"], .button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
}
input[type="a"] {
    background-color: #333;
    color: white;
}
.button {
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.alternative-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.alternative-login a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-radius: 25px;
    color: white;
}
.alternative-login a img {
    width: 20px;
    margin-right: 10px;
}
.alternative-login a.google {
    background-color: #222222;
}
.alternative-login a.facebook {
    background-color: #222222;
}
.alternative-login a.apple {
    background-color: #000;
}
.login-link {
    margin-top: 10px;
}
.login-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
#logoSpotify {
    margin-bottom: 20px;
}

#logoSpotify img {
    width: 60px; /* Tamanho ajustado para a logo */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
}
.container{

}
